include ../layout

  .container
    h1= title
    p Welcome to #{title}
    p
      a(href='/pizzas') Pizzas!
    p
      a(href='/pastas') Pastas!
    p
      a(href='/salads') Salads!      



include ../footer
  script.
    $("#menu").addClass("active");