include ../layout

  .container
    .row
      .col-md-4
      .col-md-4.text-center
        h1= title
        if errors
          .alert.alert-danger
            for error in errors
              li= error
    .row
      .col-md-4
      .col-md-4
        form(action='/users/signup' method='POST')
          .form-group
            label(for='email') Email
            input.form-control(type='text' name='email' placeholder='Email'  autofocus value=email)
          .form-group
            label(for='password') Password
            input.form-control(type='text' name='password' placeholder='Password' )
          .form-group
            label(for='passConfirm') Password Conformation
            input.form-control(type='text' name='passConfirm' placeholder='Password Conformation' )
          div
            input.btn.btn-primary(type='submit' name='signup' value='Sign Up')

include ../footer
  script.
    $("#signup").addClass("active");